.Main{
    display: flex;
    background-color: rgb(248, 246, 246);
    flex-direction: column;
    color:black;
    box-shadow: 0.5px 0.5px 0px 0.3px rgba(198, 197, 197, 0.708);
   padding:0.5rem;
    max-width: 25%;
    border-radius: 10px;

    .CardContent{
        padding:1rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap:0.5rem;
    }

    &:hover{
        background-color: rgb(255, 170, 140);
        transition: all 0.5s;
        transform: scale(1.1);
    }
}