.AdminMain{
    background-color: rgb(209, 212, 255);
    padding:2rem;
h2{
    text-align: center;
    margin:1rem;
}
.Admin{
    display: flex;
    gap:2rem;
    text-align: center;
    justify-content: center;
}}